body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
/* Banner section starts */
h1{
    font-size: 40px;
}
.name_highlight{
    color: orange;
}
.left_side{
    width: 40%;
    float: left;
    margin: 5%;
}
.right_side img{
    border-radius: 50%;
    margin-right: 5px;
}
#banner{
    background: url("images/top-banner.png");
    /* background: url("..images/top-banner.png") no-repeat center/cover; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */
    padding-top: 50px;
    padding-bottom: 20px;
    background-attachment: fixed;
}
#banner .left_side h1{
    padding-bottom: 15px;
}
#banner .left_side h3{
    padding-bottom: 15px;
}
#banner .left_side p{

    padding-bottom: 30px;
    color: gray;
}
span.hire a{
    border: 1px solid orange;
    padding: 6px 18px;
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, red);
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    transition: all linear .5s;
    
}
span.hire a:hover{
    border: 1px solid orange;
   
    background-image: linear-gradient(45deg, blue, red);
    border-radius: 5px;
    color: orange;
    transition: all linear .5s;
   
    
}
/* Banner section ends */
/* 2nd banner section starts */
#second_banner{
    padding-top: 50px;
    padding-bottom: 150px;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    /* background-size: cover; */
    background-attachment: fixed;
}

#second_banner .left_content{
    margin: 5%;
    float: left;
    width: 40%;
}
#second_banner .left_content img{
    border-radius: 50%;
}
#second_banner .right_content{
    margin-right: 5%;
    padding-top: 30px;
}
#second_banner .right_content h1{
    padding-top: 30px;
    padding-bottom: 20px;
}
#second_banner .right_content h3{
    padding-bottom: 20px;
}
#second_banner .right_content p{
    padding-bottom: 30px;
    color: gray;
}
/* 2ndBanner section ends */
/* Experience CSS starts */
#experience{
    padding-top: 20px;
    padding-bottom: 50px;
    /* background:beige; */
    height: 400px;
   background: url("images/exp-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;


}
#experience .left_exp{
    box-shadow: 10px 10px 40px gray;
    width: 35%;
    height: 200px;
    margin: 5%;
    padding: 25px;
    float: left;
    border-radius: 5px;
    /*Bellow css for left side border*/
    border-left: 5px solid;
    border-image: linear-gradient(180deg, orange, tomato);
    border-image-slice: 1;
    background: white;
}
#experience .left_exp h1{
    padding-bottom: 15px;
}
#experience .left_exp h3{
    padding-bottom: 15px;
}
#experience .left_exp p{
    color: gray;
}

#experience .right_exp{
    box-shadow: 10px 10px 40px gray;
    width: 35%;
    height: 200px;
    margin: 5%;
    padding: 25px;
    float: right;
    border-radius: 5px;
    border-left: 5px solid;
    border-image: linear-gradient(180deg, blue, lightgreen) ;
    border-image-slice: 1;
    background: white;
}
/* #experience .right_exp{
    width: 35%;
    height: 50%;
    margin: 5%;
    padding: 5px;
    float: right;
} */
#experience .right_exp h1{
    padding-bottom: 15px;
}
#experience .right_exp h3{
    padding-bottom: 15px;
}
#experience .right_exp p{
    color: gray;
}
/* Experience CSS ends */
/* footer css starts */
footer p{
    color: gray;
    font-size: 12px;
    text-align: center;
}
/* footer css ends */